<nav class="col-lg-2 d-md-block sidebar navbar navbar-expand-lg" id="rightBorder">
    <button id="filterToggleButton" class="navbar-toggle btn btn-secondary .d-none .d-sm-block .d-md-none" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            Filters
          </button>
    <div class="sidebar-sticky collapse navbar-collapse" id="navbarNavAltMarkup">
      <ul class="nav flex-column" id="">
          <li>
                <p class="center" id="resultsCount"></p>
                <hr>
          </li>
          
          <li>
              <h5 class="lead center" id="filterLabelGrey">Refine By</h5>
          </li>

        <li>
            <h6>
                <b>Categories</b>
              </h6>
            <ul id="filterCategories">
                <li>
                </li>
                  <li>
                      <div class="checkbox">
                          <label><input type="checkbox" name="optradio" id="pendingCheckBox">Pending</label>
                        </div>
                  </li>
                  <li>
                      <div class="checkbox">
                          <label><input type="checkbox" name="optradio" id="inProgressCheckBox">In Progress</label>
                        </div>
                  </li>
                  <li>
                      <div class="checkbox">
                          <label><input type="checkbox" name="optradio" id="resolvedCheckBox">Resolved</label>
                        </div>
                  </li>
              </ul>
        </li>
        <li>
            <h6>
                Status
              </h6>
            <ul id="filterCategories">
                <li>
                </li>
                  <li>
                      <div class="checkbox">
                          <label><input type="checkbox" name="optradio" id="toxicantsCheckBox">Toxicants</label>
                        </div>
                  </li>
                  <li>
                      <div class="checkbox">
                          <label><input type="checkbox" name="optradio" id="wasteCheckBox">Waste</label>
                        </div>
                  </li>
                  <li>
                      <div class="checkbox">
                          <label><input type="checkbox" name="optradio" id="pollutionCheckBox">Pollution</label>
                        </div>
                  </li>
              </ul>
        </li>
        <li><button class="btn btn-default bg-warning" type="button" id="resetButton" onclick="resetButton()" aria-haspopup="true" aria-expanded="true">Reset</button>
          <button class="btn btn-default bg-warning" type="button" id="filterMe" onclick="filterButton()" aria-haspopup="true" aria-expanded="true">Filter</button></li>
      </ul>


    </div>
  </nav>