<!DOCTYPE html>
<html>
  <head>
    <!-- Google Analytics -->
    <script
  src="https://code.jquery.com/jquery-3.3.1.js"
  integrity="sha256-2Kok7MbOyxpgUVvAk/HJ2jigOSYS2auK4Pfzbm7uH60="
  crossorigin="anonymous"></script>
    <script>
      window.ga=window.ga||function(){(ga.q=ga.q||[]).push(arguments)};ga.l=+new Date;
      ga('create', 'UA-118058493-1', 'auto');
      ga('send', 'pageview');
    </script>
    <script async src='https://www.google-analytics.com/analytics.js'></script>
<!-- End Google Analytics -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <script
			  src="https://code.jquery.com/jquery-3.3.1.min.js"
			  integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
			  crossorigin="anonymous"></script>

    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaHb1IschZD5X09Ui_UZajU-BvLtJtu5I"></script>
    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1"> -->
    <link href="/stylesheets/style.css" rel="stylesheet">

    <title><%= title %></title>

  </head>
  <body id = "mybody">
    <div id="header">
<nav id="navbar" class="navbar navbar-expand navbar-dark bg-dark">
<a class="navbar-brand" href="/">Envirepair</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
  <li class="nav-item active">
    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" href="/issue/create">Report Issue</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="/about">About</a>
  </li>
</ul>
<h5 class="navbar-nav mx-auto" style="text-align: center; color: white;"><strong>SFSU CSC648 Class Project</strong></h5>
<ul class="navbar-nav ml-auto">
<li class="nav-item">
  <% if(user) { %>
    <a class="nav-link active" href="/user/profile"><%= user.username %></a>
  <% } else { %>
    <a class="nav-link active" href="/user/login">Login</a>
  <% } %>
</li>
<li class="nav-item">
  <% if(user) { %>
    <a class="nav-link active" href="/user/logout">Logout</a>
  <% } else { %>
    <a class="nav-link active" href="/user/register">Register</a>
  <% } %>
</li>
</ul>
</div>
</nav>
</div>





<!-- <div class="container" style="position: sticky;">
  <div class="jumbotron" id="main-container" >
  
    <h4 style="text-align: center">SFSU CSC648 Class Project</h4>
    <h6 style="text-align: center">A website where people can file environmental complaints and issues.</h6>
  </div>
</div> -->




  <!-- <nav class="navbar navbar-light" style="background-color: #e3f2fd;">
    <div class="input-group" id="search-bar">
      <div class="dropdown">
        <button class="btn btn-default dropdown-toggle bg-warning" type="button" id="filterMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Search All<span class="caret"></span></button>
        <ul class="dropdown-menu" aria-labelledby="filterMenu">
          <option class="dropdown-item" id="allFilter"> All </option>
          <option class="dropdown-item" id="cityFilter"> City </option>
          <option class="dropdown-item" id="categoryFilter"> Category </option>
          <option class="dropdown-item" id="statusFilter"> Status </option>
        </ul>
      </div>
      <input type="text" id="searchBar" name="search" class="form-control" placeholder="Search by Title, Description, City, or Zipcode...">
          <span class="input-group-btn">
              <input type="submit" class="btn btn-primary" id="searchButton" type="button" value="Search">
          </span> -->

  

  <!-- <div id="filter" style="display: inline-block;"> -->


  <!-- End of Filter Div -->
<!-- </div> -->




<script>
//   window.onscroll = function() {myFunction()};

// var navbar = document.getElementById("searchBarStick");
// var sticky = navbar.offsetTop;

// function myFunction() {
  
//   if (window.pageYOffset >= sticky) {
//     navbar.classList.add("sticky")
//   } else {
//     navbar.classList.remove("sticky");
//   }
// }
</script>
