<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="/stylesheets/style.css" rel="stylesheet">
    <title><%= title %></title>

  </head>
  <body id = "mybody">

<nav class="navbar navbar-expand navbar-dark bg-dark">
<a class="navbar-brand" href="#">Envirepair</a>
<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
<span class="navbar-toggler-icon"></span>
</button>

<div class="collapse navbar-collapse" id="navbarSupportedContent">
<ul class="navbar-nav mr-auto">
  <li class="nav-item active">
    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Issues/Complaints</a>
  </li>
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Contact</a>
  </li>
  <li class="nav-item active">
    <a class="nav-link" href="/about">About</a>
  </li>



  <ul class="navbar-nav navbar-right" id="Dropdown"
  <li class="nav-item">
    <a class="nav-link disabled" href="#">Login</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">Hello, User</a>
      <ul>
          <li><a href="/partial/userProfile" style="color:#ffffff">My profile</a></li>
          <li><a href="/partial/userReport" style="color:#ffffff">My reports</a></li>
      </ul>

  </li>
  </ul>


</div>
</nav>
