<% include ./partials/header %>

<br><br>

<div class="container" id="userProfile">
<div class="row">
<div class="col-md-10" >

<!-- Form Name -->
<h2 style="color:#343a40">My Profile</h2>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">User ID</label>
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="user id" class="form-control input-md" value="eva123">

  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">First Name</label>
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="name" class="form-control input-md" required="" value="Eva">

  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Last Name</label>
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="name" class="form-control input-md" required="" value="Kim">

  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Email</label>
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="your email address" class="form-control input-md"  value="eva@gamil.com">

  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Zip code</label>
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="your zip code" class="form-control input-md"  value="12345">

  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Password</label>
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="enter your password" class="form-control input-md">

  </div>
</div>

<div class="form-group">
  <label class="col-md-4 control-label" for="textinput">Confirm Password</label>
  <div class="col-md-4">
  <input id="textinput" name="textinput" type="text" placeholder="confirm password" class="form-control input-md">

  </div>
</div>




<!-- Button (Double) -->
<div class="col-md-8">
  <button id="save" name="save" class="btn btn-success">Save</button>
  <button id="cancel" name="cancel" class="btn btn-danger">Cancel</button>
</div>

</fieldset>
</form>
</div>
</div>
</div>
