<!-- about.ejs
 Our About Me webpage that describes our roles and a little about who we
 individually are. -Justin -->

<% include ./partials/header %>

  <br><br>
  <center><h2>SFSU CSC 648 Team 3</h2></center>
<br><br>

<div class = "container">
<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-1">
    <div class = "card">
      <div class = "imgBx">
        <img src = "resources/profile_pictures/Gary.jpg">
      </div>
      <div class = "details"><h2>Gary Straub</h2><b>Team Lead</b></h2>
      <p><p>Gary is a student at San Francisco State University seeking a bachelor’s in Computer Science. Most of his career experience to date has not been directly related to the Computer Science industry however there have been several situations where a CS toolkit has proven a major advantage.</p>
    </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-1">
    <div class = "card">
    <div class = "imgBx">
      <img src = "resources/profile_pictures/Uzair.jpg">
    </div>
    <div class = "details"><h2>Uzair Inamdar</h2><b>Back-end Lead</b></h2>
    <p><p>Uzair is a guy who likes solving problems. He likes to know a little bit of everything, and is always on the lookout for fields and topics that interest him. Currently a Computer Science student at San Francisco State University, he is sometimes seen in the library - eyes glued to his computer screen, but at other times can also be spotted at the soccer field trying his luck with the ball.</p>
    </div>
  </div>
</div>

<div class="col-lg-4 col-md-6 col-sm-1">
  <div class = "card">
  <div class = "imgBx">
    <img src = "resources/profile_pictures/Lily.jpg">
  </div>
  <div class = "details"><h2>Lily Linh Lan</h2><b>Back-end Developer</b></h2>
  <p><p>Lily is a student from Computer Science Department at San Francisco State University. Her major is Biotechnology, however, she just enjoys exploring new things by learning programming from scratch. Besides coding, she loves photography, reading, cooking, baking, crafting, camping and traveling.</p>
  </div>
</div>
</div>
</div>

<br><br><br>

<div class="row">
  <div class="col-lg-4 col-md-4 col-sm-1">
    <div class = "card">
      <div class = "imgBx">
        <img src = "resources/profile_pictures/Gerren.jpg">
      </div>
      <div class = "details"><h2>Gerren Penaloza</h2><b>Back-end Lead</b></h2>
      <p><p>Gerren is a Senior at San Francisco State University pursuing his B.S. in Computer Science. His interests include web development, various art forms such as painting and analog photography, good/bad coffee, and making websites about environmental issues.</p>
    </div>
    </div>
  </div>

  <div class="col-lg-4 col-md-6 col-sm-1">
    <div class = "card">
    <div class = "imgBx">
      <img src = "resources/profile_pictures/Justin.jpg">
    </div>
    <div class = "details"><h2>Justin Abarquez</h2><b>Front-end Lead</b></h2>
    <p><p>Justin is a computer science senior at San Francisco State University. Justin is also a student assistant at SFSU’s Pre-Health Professions Post-Bac Program and formerly worked at AT. He has knowledge in the Drupal framework, and enjoys practicing his object-oriented skills by building small applications in Swift. Justin is also fond of fishing, taking photos, hiking and playing games, and holds a keen interest in mobile development and health informatics.</p>
    </div>
  </div>
  </div>

  <div class="col-lg-4 col-md-4 col-sm-1">
    <div class = "card">
    <div class = "imgBx">
      <img src = "resources/profile_pictures/Gayoung.jpg">
    </div>
    <div class = "details"><h2>Eva Kim</h2><b>Front-end Developer</b></h2>
    <p><p>Eva is an exchange student at San Francisco State University now. Actually, she is senior from Chuang-Ang University in South Korea. She She wanted to have an experience of studying abroad. Unfortunately, she has stayed only one semester at San Francisco State Univetsity. She is interested in Machine Learning.</p>
    </div>
  </div>
</div>


</div>
</div>

<br>
<br>
<br>

<% include ./partials/footer %>
