<% include ./partials/header %>

  <br><br>
  <center><h2>CSC 648 Team 3</h2></center>
<br><br>

<div class = "card">
  <div class = "imgBx">
    <img src = "Images/Gary.jpg">
  </div>
  <div class = "details"><h2>Gary Straub<br>Team Lead</h2>
  <p><b>Gary</b> is a student at San Francisco State University seeking a bachelor’s in Computer Science. Most of his career experience to date has not been directly related to the Computer Science industry however there have been several situations where a CS toolkit has proven a major advantage. Whether its tweaking the design and structure of a website to meet modern expectations while gaining proficiency with web frameworks such as Drupal; or building a python application to manage a tedious AP process and manage proprietary data. Programming is a versatile tool; whose potential is unlimited.</p>
</div>
</div>

<!-- <div class = "card">
<div class = "imgBx">
  <img src = "Images/Uzair.jpg">
</div>
<div class = "details"><h2>Uzair Inamdar</h2><b>Back-end Developer</b></h2>
<p><p>Uzair is a guy who likes solving problems. He likes to know a little bit of everything, and is always on the lookout for fields and topics that interest him. Currently a Computer Science student at San Francisco State University, he is sometimes seen in the library - eyes glued to his computer screen, but at other times can also be spotted at the soccer field trying his luck with the ball.</p>
</div> -->

</div>
