<!-- detailedview.ejs
 A more detailed view of a specific issue that contains relevant information
 such as images, a map, a status and comments. -Justin -->

<% include ./partials/header %>

<br>
<br>
<div class= "col-sm-5">
  <center><h1><i><%= issue.title %></i></h1></center><br><br>
</div>

<!-- Align issue image in the middle, slightly to the left. -->
<div class="col-md-8">
<center><img src="<%= issue.imagePath %>"" class="img-fluid" alt="Responsive image"><br><br></center>
</div>

<!-- Enclose information and comments in a single jumbotron. -->
<div class="container jumbotron" id="main-container">
<h2><b>Description</b></h2><br>
<h6><%= issue.description %></h6>
<br>
<!-- Issue Status aligned right. -->
<h6><p align= "right">Status:<b> <%=issue.issue_status%></b></h6></p></h6>
<div class="col-sm-3">

<center><h5><b>Comments</b></h5></center><br>
</div>
    <!-- commentContainer is very similar to issueContainer except the background color is different and commentContainer has no hover properties. -->
    <div class = "commentContainer">
      <div class="row">
        <div class="col-sm-2">
                <div class="col-md-12">
                    <b>[Username]</b>
                </div>
              </div>
                <div class="col-sm-10">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                </div>
        </div>
      </div>
      <div class = "commentContainer">
        <div class="row">
          <div class="col-sm-2">
                  <div class="col-md-12">
                      <b>issue.username</b>
                  </div>
                </div>
                  <div class="col-sm-10">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                  </div>
          </div>
        </div>
        <div class = "commentContainer">
          <div class="row">
            <div class="col-sm-2">
                    <div class="col-md-12">
                        <b>[Username]</b>
                    </div>
                  </div>
                    <div class="col-sm-10">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                    </div>
            </div>
          </div>
          <div class = "commentContainer">
            <div class="row">
              <div class="col-sm-2">
                      <div class="col-md-12">
                          <b>[Username]</b>
                      </div>
                    </div>
                      <div class="col-sm-10">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                      </div>
              </div>
            </div>
            <div class = "commentContainer">
              <div class="row">
                <div class="col-sm-2">
                        <div class="col-md-12">
                            <b>[Username]</b>
                        </div>
                      </div>
                        <div class="col-sm-10">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
                        </div>
                </div>
              </div>
<br><br>
<div class="col-sm-3">
<center><h7><b><i>Leave a comment below:</b></i></h7></center><br>
</div>
              <!-- Text field (of 7 rows) for user comments. -->
              <div class="form-group row">
            <div class= "col-sm-12">
            <textarea class="form-control" id="exampleTextarea" rows="7"></textarea>
          </div>
           </div>
           <!-- Comment button should add user's comment to the top of the comment list. -->
           <center><br><button type="submit" class="btn btn-secondary" style="float:right">COMMENT</button></center><br><br>
</div>

<% include ./partials/footer %>
