<!-- about.ejs
 Envirepair homepage that allows a user to search for issues and complaints with
 a list of results and an accompany map view. -Gary and Justin
  filter using
  -->

 <!-- 
   Notes:
   Drop Down List for category
   Cookie for user

  -->
<% include ./partials/header %>
<!-- Entire Nody Section of Home Page -->
<Style>
  #leftNav {
    height: 100%; 
    width: 160px; 
    position: relative; 
    z-index: 2; 
    top: 0; 
    left: 0; 
    overflow-x: hidden; 
    padding-top: 20px;
    background-color: ivory
  }
  #leftNav>.nav-link:hover{
    background-color: hotpink;
  }
  #filterCategories{
    list-style-type: none;
  }
</Style>
<!--  -->
<script src="/scripts/filters.js"></script>

<div class="container-fluid">
  <div class="row">
    <!-- Filter Nav. Made into a partial for better organization -->
      <% include ./partials/filterNav %>
      <!-- <div style="width: calc(100vw - 200px)"> -->
        <div class="" id="resultsContainer">
            <div class="col-lg-6 col-sm-12 staticContainer"  id="resultsRow" style="position: relative; padding: 0px;">
              </div>
      
              <div class="col-lg-6 col-md-5 hidden-sm staticContainer" id="googleMapContainer" style="padding: 0px;">
                <div id="googleMap" class="staticContainer"></div>
            </div>
        </div>
          


      <!-- </div>       -->
    </div>
</div>
    
  <script src="/scripts/search.js"></script>


  <!-- Author: Gary Straub
    Local script that when run changes the size constraints of the staticContainer
  this is what allows the webpage to stay in one fixewd page at any given time. 
i have tried to build it in such a way that the code will only run when the browser is changing size -->
  <script>
      window.addEventListener("resize", myFunction);      
      var x = 0;
      function myFunction() {
        var x = window.matchMedia("(max-width: 991px)");
        if(x.matches){

        }
        var resultContainer = document.getElementsByClassName("staticContainer");
        var offset = resultContainer[0].offsetTop;
        for(var i = 0; i<resultContainer.length; i++ ){
          var tmpHeight = "calc(100vh - "+ offset + "px)"
          resultContainer[i].style.height = tmpHeight;
        }
          var txt = x += 1;
          // document.getElementById("demo").innerHTML = txt;
          console.log("size changed");
      }
      document.addEventListener("DOMContentLoaded", function(event) {
        myFunction();
        console.log("DOM fully loaded and parsed");
      });
      var x = window.matchMedia("(max-width: 700px)")
      myFunction(x) // Call listener function at run time
      x.addListener(myFunction) // Attach listener function on state changes

      </script>






<% include ./partials/footer %>
