<!-- about.ejs
 Envirepair homepage that allows a user to search for issues and complaints with
 a list of results and an accompany map view. -Gary and Justin
  filter using
  -->

 <!-- 
   Notes:
   Drop Down List for category
   Cookie for user

  -->
<% include ./partials/header %>
<!-- Entire Nody Section of Home Page -->
<Style>
  #leftNav {
    height: 100%; 
    width: 160px; 
    position: relative; 
    z-index: 2; 
    top: 0; 
    left: 0; 
    overflow-x: hidden; 
    padding-top: 20px;
    background-color: ivory
  }
  #leftNav>.nav-link:hover{
    background-color: hotpink;
  }
  #filterCategories{
    list-style-type: none;
  }
</Style>
<script src="/scripts/filters.js"></script>

<div class="container-fluid">
  <div class="row">
    <!-- Filter Nav. Made into a partial for better organization -->
      <% include ./partials/filterNav %>      
      <div id="mainContent" class="col-lg-10">
          <div class="col-lg-6"  id="resultsRow"></div>
            <div class="col-lg-6 hidden-sm" >
            <div id="googleMap"></div>
          </div>
      </div>



    </div>
    
  <script src="/scripts/search.js"></script>




</div>


<!-- <div id="searchRow" class="row text-center"> -->
<!-- <div class="row">
  
  <div class="col-md-12 col-lg-12 col-sm-12">
    <div class="col-lg-6 col-sm-12 staticContainer"  id="resultsRow">
    </div>
    <div class="col-lg-6 hidden-sm staticContainer" >
      <div id="googleMap"></div>
    </div>
  </div> -->
<!-- </div> -->
<!-- No Clue what this div is for... -->
<!-- </div> -->




<% include ./partials/footer %>
