<% include ./partials/header %>
<!--
extends layout

block content
  h1= title
  p Welcome to #{title}
-->

<!doctype html>
<html>
<head>
    <br><br>
  <h1 style="text-align: center">SFSU CSC648 Class Project</h1>
  <h2 style="text-align: center">Site under construction</h2>
  <a href="/about" class="btn btn-primary" style="margin-left: 47%">About</a>

  <div>

    <input type="text" placeholder="Search.." id="searchBar">
    <button id="searchButton" class="btn btn-primary" type="button">Search</button>
    <script type="text/javascript" src="jquery-1.8.3.js"></script>
    <script src="/public/javascripts/search.js"></script>

    <div id="searchRow"></div>
  </div>


</head>
</html>
