<% include ./partials/header %>
<!--
extends layout

block content
  h1= title
  p Welcome to #{title}
-->

<!doctype html>
<html>
<head>
    <br><br>
  <h1 style="text-align: center">SFSU CSC648 Class Project</h1>
  <h2 style="text-align: center">Site under construction</h2>
  <a href="/about" class="btn btn-primary" style="margin-left: 47%">About</a>
</head>
</html>
