<!DOCTYPE html>
<html>
  <head>

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="style.css" rel="stylesheet">
    <title>About Team 3</title>

  </head>
  <body>

    <center>
      <h2>CSC 648 Team 3</h2>
      <br><br>
      <div class="container">
        <img src="Images/person-placeholder.jpg" alt="Avatar" class="image">
        <div class="overlay">
          <div class="text"><b>Gary Straub</b><br>Team Lead
          <br><br>Hi, I'm Gary...</div>
        </div>
      </div>

      <div class="container">
        <img src="Images/person-placeholder.jpg" alt="Avatar" class="image">
        <div class="overlay">
          <div class="text"><b>Person 2</b><br>Back-end Lead</div>
        </div>
      </div>

      <div class="container">
        <img src="Images/person-placeholder.jpg" alt="Avatar" class="image">
        <div class="overlay">
          <div class="text"><b>Person 3</b><br>Back-end Developer</div>
        </div>
      </div>

<br>

      <div class="container">
        <img src="Images/person-placeholder.jpg" alt="Avatar" class="image">
        <div class="overlay">
          <div class="text"><b>Person 4</b><br>Back-end Developer</div>
        </div>
      </div>

      <div class="container">
        <img src="Images/person-placeholder.jpg" alt="Avatar" class="image">
        <div class="overlay">
          <div class="text"><b>Justin Abarquez</b><br>Front-end Lead</div>
        </div>
      </div>

      <div class="container">
        <img src="Images/person-placeholder.jpg" alt="Avatar" class="image">
        <div class="overlay">
          <div class="text"><b>Person 6</b><br>Front-end Developer</div>
        </div>
      </div>
<br>
<br>
<br>
<br>

</body>
</html>
