<% include ./partials/header %>


<div class="container">
<div class="container jumbotron" id="main-container">

  <h1 style="text-align: center">SFSU CSC648 Class Project</h1>
  <h2 style="text-align: center">Site under construction</h2>
  <p class="container">
    <!-- <form action="/search" method="POST" id="issue-search"> -->
        <div class="input-group" id="search-bar">
            <input type="text" id="searchBar" name="search" class="form-control" placeholder="Search by Title, Description, City, or Zipcode...">
                <span class="input-group-btn">
                    <input type="submit" class="btn btn-primary" id="searchButton" type="button" value="Submit">
                </span>
        </div>
    <!-- </form> -->
</p>

</div>

<div id="results-grid" class="row text-center">
</div>
</div>

<script src="/javascripts/search.js"></script>
</html>
