<!--
extends layout

block content
  h1= title
  p Welcome to #{title}
-->

<!doctype html>
<html>
<head>
  <title> </title>
  <h1 style="text-align: center">SFSU CSC648 Class Project</h1>
  <h2 style="text-align: center">Site under construction</h2>
</head>
</html>
