<!-- about.ejs
 Envirepair homepage that allows a user to search for issues and complaints with
 a list of results and an accompany map view. -Gary and Justin
  filter using
  -->

 <!-- 
   Notes:
   Drop Down List for category
   Cookie for user

  -->
<% include ./partials/header %>
<!-- Entire Nody Section of Home Page -->
<Style>
  #leftNav {
    height: 100%; 
    width: 160px; 
    position: relative; 
    z-index: 2; 
    top: 0; 
    left: 0; 
    overflow-x: hidden; 
    padding-top: 20px;
    background-color: ivory
  }
  #leftNav>.nav-link:hover{
    background-color: hotpink;
  }
  #filterCategories{
    list-style-type: none;
  }
</Style>
<script src="/scripts/filters.js"></script>

<div class="container-fluid">
  <div class="row">
    <!-- <div class="col-2"> -->
  <!-- Filter Nav. Made into a partial for better organization -->
  <% include ./partials/filterNav %>

  <!-- </div> -->
  <!-- UZAIR CODE BEGIN -->
  <div class="col-10">
  <div class="container" style="position: sticky;">
    <div class="container jumbotron" id="main-container">
      
      <h6 style="text-align: center">A website where people can file and view environmental issues.</h6>
      <div class="input-group" id="search-bar">
        <div class="dropdown">
          <button class="btn btn-default dropdown-toggle bg-warning" type="button" id="filterMenu" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Search All<span class="caret"></span></button>
          <ul class="dropdown-menu" aria-labelledby="filterMenu">
            <option class="dropdown-item" id="allFilter"> All </option>
            <option class="dropdown-item" id="cityFilter"> City or Zip</option>
            <option class="dropdown-item" id="categoryFilter"> Category </option>
            <option class="dropdown-item" id="statusFilter"> Status </option>
          </ul>
        </div>
        <input type="text" id="searchBar" name="search" class="form-control" placeholder="Search by Title, Description, City, or Zipcode...">
        <span class="input-group-btn">
          <input type="submit" class="btn btn-primary" id="searchButton" type="button" value="Search">
        </span>
      </div>
      <div class="center text-danger"><strong id="error-message"></strong></div>
    </div>
    
    <!-- UZAIR CODE ENDS -->
    
    <!-- ACCEPTED CODE -->
      <div class="row">
          <div class="col-lg-6 col-sm-12 staticContainer"  id="resultsRow" style="position: relative; padding: 0px;">
            </div>
    
            <div class="col-lg-6 hidden-sm staticContainer" id="googleMapContainer" style="padding: 0px;">
              <div id="googleMap" class="staticContainer"></div>
          </div>
    </div>
  </div>
<!-- ACCEPTED CODE ENDS-->

</div>
</div>
    
  <script src="/scripts/search.js"></script>

  <script>




      window.addEventListener("resize", myFunction);
      
      var x = 0;
      function myFunction() {
        var resultContainer = document.getElementsByClassName("staticContainer");
        var offset = resultContainer[0].offsetTop;
        for(var i = 0; i<resultContainer.length; i++ ){
          var tmpHeight = "calc(100vh - "+ offset + "px)"
          resultContainer[i].style.height = tmpHeight;
        }
          var txt = x += 1;
          // document.getElementById("demo").innerHTML = txt;
          console.log("size changed");
      }
      document.addEventListener("DOMContentLoaded", function(event) {
        myFunction();
        console.log("DOM fully loaded and parsed");
      });

      </script>

<style>
  /* #searchBar {
    display: block;
  } */
  .sticky {
  position: fixed;
  top: 0;
  width: 100%;
}
</style>





<% include ./partials/footer %>
