<% include ./partials/header %>

  <!doctype html>
  <html>

  <head>
      <script src="/javascripts/search.js"></script>
      <script src="/javascripts/thumbnail.js"></script>

    <!-- end outer container -->

  
  <!-- 
    Gary Straub
    Styles used for the Home Page results and formatting
    NOTES FOR MEE

    Thumbnails!!
    Change the logo positioning 
    create two rows, make the navigation persistent
   -->
  <style>
    /* Set the Row Height of search results */
    #rowOverload {
      height: 125px;
    }
    .thumbnail {
      max-height: 100%;
      max-width: 100%;
    }
    /* Used to set height of the body items to fit perfectly with the nav (nav height = 50px) */
    .staticContainer {
      height: calc(100vh - 262px);
      overflow: auto;
    }
    .header {
    padding: 10px 16px;
    background: #555;
    color: #f1f1f1;
    }
    /* For the static header/navigation */
  .affix {
      top: 0;
      width: 100%;
      z-index: 9999 !important;
  }

  .affix + .container-fluid {
      padding-top: 70px;
  }
  </style>

<!-- 
  Gary Straub
  There are Two containers, one for the results and the other for the map
 -->
<!-- RESULTS -->
<div class="col-md-12 col-lg-12 col-sm-12">

    <div class="col-lg-6 col-md-8 col-sm-12 staticContainer"  id="searchRow" style="position: relative;">
    </div>
    <!-- Google Map -->
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCaHb1IschZD5X09Ui_UZajU-BvLtJtu5I"></script> 

    <div class="col-lg-6 col-md-6 hidden-sm" >
        <div id="googleMap" style="height: calc(100vh - 262px);"></div> 
      </div>
    </div>


  </head>

  </html>
