body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  font-size: 12.5px;
  /* A nice white-yellow color -Justin */
  background-color: #fff9e6;
}

/* Contains the issue information on the homepage. -Justin */
.issueContainer {
  padding: 17px;
  background-color: #f2f2f2;
}

/* When hovered over, it changes to a lighter color for a more animated effect. -Justin*/
.issueContainer:hover {
  background-color: #fff;
  border: 1px solid #000;
}

/* Contains the comment information. -Justin */
.commentContainer {
  padding: 17px;
  background-color: #f2f2f2;
  border-top: 2px solid #cecece;
  border-bottom: 2px solid #cecece;
  border-left: 4px solid #cecece;
  border-right: 4px solid #cecece;
}

/* .container {
margin-left: 20%;
margin-right: 20%;
} */

#main-container {
    margin-top: 20px;
    max-width: 1000px;
    padding: 3rem;
}

#search-bar {
    margin-top: 5%;
    margin-left: 20%;
    width: 60%;
}

#search-button {
    display: inline;
}

/* Code for About page containers. Will change class names later to not interfere with Bootstrap definitions. -Justin */
/* .col {
margin-left: 5px;
margin-right: 5px;
padding-left: 0px;
} */

/* .card {
  position: inline-block;
  top: 50%;
  left: 50%;
  padding: 10px;
  transform: translate(-50%, -50%);
  width: 300px;
  height: 300px;
  background: #fff3cc;
  overflow: hidden;
}

.card .imgBx,
.card .details {
  width: 100%;
  height: 100%;
  position: absolute;
  box-sizing: border-box;
  transition: .5s;
}

.card .imgBx {
  top: 0;
  left: 0;
}

.card:hover .imgBx {
  top: 0;
  left: -100%;
}

.card .imgBx img {
  width: 100%;
}

.card .details {
  background: #fff9e6;
  top: 0;
  left: 100%;
  padding: 10px 15px;
}

.card:hover .details {
  top: 0;
  left: 0;
}

.card .details h2 {
  color : #4d4d4d;
  margin: 0;
  padding: 0 0 5px;
  border-bottom: 2px solid #bfbfbf;
}

.card .details p {
  margin: 20px 0 0;
} */

/* this is all for gerren's testing, delete it later if he didn't already */
.searchResults {
  background-color: lavender;
}

.card-columns {
  max-width: 100%;
}
